// .xl-text {
//   font-size: 82px !important;
// }
.heading {
  font-size: 14px !important;
}
.col-md-4 {
  //   height: 250px !important;
  // max-width: 150px;
  text-align: center;
  padding: 0 !important;
  //   overflow-y: scroll;
}
.clock-container {
  width: max-content;
}
.clock {
  font-size: 6rem !important;
}
